.sear-container{
    margin: 30px 0;
}

.sear-input{
    width: 250px;
    border-radius: 5px;
    margin-right: 20px;
    padding: 8px;
     background-color: cornsilk
}

.sear-input::placeholder{
    font-style: italic;
    text-align: center;
    background-color:cornsilk
}
