.d-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-box, .d-box2{
    margin: 100px 50px;
    width: 50%;
}
.d-box2{
    background-color: cornsilk;
    border-radius: 5px;
}
.d-img{
    width: 80%;
    height: auto;
}

.d-text{
    font-size: 25px;
    color:black;
    margin: 10px;
}