.h-card{
    display: grid;
    grid-template-columns: repeat(5, minmax(190px, 1fr));
    justify-content: space-around;
    grid-gap: 20px;
    margin: 20px;
  
   
}

.h-cards{
    display: grid;
    grid-template-columns: repeat(5, minmax(190px, 1fr));
    justify-content: space-around;
    grid-gap: 20px;
    margin: 20px;
    
}

.h-tarjet{
    margin: auto;
}