.f-select{
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 25px 0 25px;
    background-color: rgb(46, 40, 40);
    color: antiquewhite;
    padding: 3px;
}

.f-contene{
    display: flex;
    align-items: center;
    justify-content: center;
}